<% provide(:title, "Home") %>

<header>
  <canvas id="front-map" style = "position:absolute; top: 0; left:0"></canvas>
  <div class="header-content">
    <div class="header-content-inner">
      <% if current_user.nil? %>
          <h1 id="homeHeading">Welcome to the JB SET.</h1>
      <% else %>
          <h1 id="homeHeading"> Welcome, <%= current_user.first_name %>. </h1>
      <% end %>
      <hr>
      <p style = "margin-bottom: 20px;">
        <% if current_user.nil? %>
            <%= link_to "Log in", login_path, class: "btn btn-primary btn-xl"%>
            <%= link_to "Sign up", signup_path, class: "btn btn-front btn-xl" %>
        <% else %>
            Visit <%= link_to "your profile", user_path(current_user.username) %>, or
            <%= link_to "log out", logout_path %>
        <% end %>
      </p>
      <p id = "lastUpdated"></p>
    </div>
  </div>
  <div id="homeResults">
    <a class ="page-scroll" href = "#beginning-info" style="color:white">
      <span class="glyphicon glyphicon-triangle-top" style="font-size: 30px;"></span>
    </a>
  </div>
  <img src="<%= image_path("logo.svg")%>" width="200" style="position: absolute; bottom: 0; right: 0; opacity: .7">

</header>


<section class = "bg-dark" id="beginning-info">
  <div class = "container">
    <div class = "row">
      <div class = "col-md-10 col-md-offset-1">
        <div class = "sr-text">
          <p class = "lead">
            Ok, <strong>show</strong> me the numbers.
          </p>
          <p class = "thin">
            This year, the JB SET is a little different.  Below you'll find a set of graphs displaying
            the data from the SET in real time.  Over the summer, more graphs and ways of viewing the data will be added.
            If you would like to download the data and do some calculations of your own, you can download both the
            Local SET and the National SET by clicking <a href="/surveys.xlsx">here</a>.
          </p>
          <p class = "thin">
            Have an idea for a graph?  Want to pull the data to use on your site?  Want to use this site for another
            survey? Are you a coder and want to help out?  Contact Daniel Krajnak at daniel.krajnak (at) us.cisv.org.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class = "bg-dark">
  <div class = "container">
    <div class = "col-md-10 col-md-offset-1">
      <div class = "row">
	<!--
				<div class = "jumbotron">
				<h4 style="color: #222">There aren't enough SET completions for graphs yet... but check back soon!</h4>
				</div>
	-->

				<div class = "general-graph-wrapper">
					<h6>(This is just a test for now.  It will get even better!)</h6>
					<h4>Pick a survey:</h4>
					<select id="general-graph-select" name= "survey_completion[country]"  class="form-control form-margin-bottom" >
					</select>
					<h4> Pick a question:</h4>
					<select id="general-graph-question-select" class="form-control form-margin-bottom"></select>
				</div>
				<div class = "row" id ="graph-row">
					<svg id="general-graph-number" class = "general-graph bg-dark fadeIn" ></svg>
					<svg id="general-graph-multiple-choice" class = " general-graph bg-dark fadeIn" ></svg>	
					<div id="general-graph-yes-no" class = "general-graph bg-dark fadeIn" ></div>
					<div id="general-graph-true-false" class = "general-graph bg-dark fadeIn" ></div>
					<div id="general-graph-short-response" class = "general-graph bg-dark fadeIn" ></div>
					<div id="general-graph-long-response" class = "general-graph bg-dark fadeIn" >
<!--
						<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner" role="listbox">
								<div class="carousel-item active">
									<img class="d-block img-fluid" src="#" alt="First slide">
								</div>
								<div class="carousel-item">
									<img class="d-block img-fluid" src="#" alt="Second slide">
								</div>
								<div class="carousel-item">
									<img class="d-block img-fluid" src="#" alt="Third slide">
								</div>
							</div>
						</div>					
-->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<style>
 body,
html {
	height: 100%;
	background-color: #222
}

@media (min-width: 768px) {
	.navbar:not(.affix) a {
		display: none;
	}
}
</style>

<script>
document.addEventListener('DOMContentLoaded', function() {
	createGeneralGraph();
	createWorld();
}, false);

	
</script>





