<div class="row">
  <div class="col-md-12">
    <h1>Login</h1>
    <hr />
    <%= form_tag '/login', class: "form-group" do %>
      <%= label_tag :email %>
      <%= text_field_tag :email, "Enter your email", class: "form-control form-margin-bottom" %>
      <%= label_tag :password %>
      <%= password_field_tag :password, "Enter your password", class: "form-control form-margin-bottom" %>
      <%= submit_tag "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>