<% provide(:title, "Edit Profile") %>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Edit my profile</h1>
    <hr style="margin-left: 30px;"/>
      <%= form_for @user, :url => user_path(@user.username), :html => { :class => "form-group" } do |f| %>
        <%= render :partial => "shared/form_errors", :locals => { :model => @user } %>

        <%= f.label "Edit your first name" %>
        <%= f.text_field :first_name, class: "form-control form-margin-bottom" %>
        <%= f.label "Edit your last name" %>
        <%= f.text_field :last_name, class: "form-control form-margin-bottom" %>
        <%= f.label "Edit your email" %>
        <%= f.text_field :email, class: "form-control form-margin-bottom" %>
        <%= f.label "Edit your position" %>
        <%= f.text_field :position, class: "form-control form-margin-bottom" %>

        <br />
  </div>
</div>
<div style = "margin: auto; text-align: center">
  <%= f.submit "Save", class: "btn btn-primary", style: "margin-right: 10px" %>
  <%= link_to "Cancel", user_path(current_user.username), class: "btn btn-cancel" %>
</div>
    <% end %>
  </div>
</div>
