<div class="row">
  <div class="col-md-12">
    <h1>Signup</h1>
    <hr />
    <%= form_for :user, url: '/users', class: "form-group" do |f| %>
      <%= render :partial => "shared/form_errors", :locals => { :model => @user } %>
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "form-control form-margin-bottom" %>
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "form-control form-margin-bottom" %>
      <%= f.label :username %>
      <%= f.text_field :username, class: "form-control form-margin-bottom" %>
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control form-margin-bottom" %>
      <%= f.label :date_of_birth %>
      <%= f.date_field :date_of_birth, :start_year => Date.today.year - 100, :end_year => Date.today.year, class: "form-control form-margin-bottom" %>
      

      <%= f.label :is_national, 'Local or National' %>
      <%= f.select :is_national, [['Local', false], ['National', true]], {}, {class: "form-control"} %>
      <br>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control form-margin-bottom" %>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: "form-control form-margin-bottom" %>
      <%= f.submit "Signup", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>