<% provide(:title, "Signup") %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Signup</h1>
    <hr style = "margin-left: 20px"/>
    <%= form_for @user, :url => users_path, :html => { :class => "form-group" } do |f| %>
      <%= render :partial => "shared/form_errors", :locals => { :model => @user } %>

      <h4 style="text-align: center">Create a Username and Password</h4>
      <%= label_tag :username, "Username" %>
      <%= f.text_field :username, class: "form-control form-margin-bottom" %>
      <%= f.label "Password" %>
      <%= f.password_field :password, class: "form-control form-margin-bottom" %>
      <%= f.label "Retype your password" %>
      <%= f.password_field :password_confirmation, class: "form-control form-margin-bottom" %>
			<p style="text-align: center" class="cisv-orange">Please, please, please write down your password.<br>  If you lose your password, your account
				CANNOT be recovered!</p>

      <br/>
      <h4 style="text-align: center">General Information</h4>
      <%= f.label "First name" %>
      <%= f.text_field :first_name, class: "form-control form-margin-bottom" %>
      <%= f.label "Last name" %>
      <%= f.text_field :last_name, class: "form-control form-margin-bottom" %>
      <%= f.label "Your email" %>
      <%= f.text_field :email, class: "form-control form-margin-bottom" %>
      <%= label_tag :position, "What is your JB Position? "%>
        <h4 style = "display: inline;"><small>(If you have many, which one are you filling this out as?)</small></h4>
      <%= f.text_field :position, class: "form-control" %>

      <br/>
        <hr/>
      <%= f.submit "Sign Up!", class: "btn btn-primary btn-xl",
                   style: "margin: 30px auto; display: block; text-align: center" %>
    <% end %>
  </div>
</div>
