<% provide(:title, "Profile") %>
<div class="row">
  <div class="col-md-12">
    <h1><%= @user.first_name %> <%=@user.last_name %></h1>

    <hr/>
    <div class="no-padding container">
      <div class="no-padding col-md-6">
        <h3>Your Information: <%= link_to (image_tag("/assets/pencil.jpg", width: "15px", height: "15px", :alt => "Edit profile")), edit_user_path(@user.username) %></h3>
        <div class="table-responsive">
        <table id="profile-info-table" class="table table-striped">
          <tr>
            <td>First Name</td>
            <td><%= current_user.first_name %></td>
          </tr>
          <tr>
            <td>Last Name</td>
            <td><%= current_user.last_name %></td>
          </tr>
          <tr>
            <td>Username</td>
            <td><%= current_user.username %></td>
          </tr>
          <tr>
            <td>Email</td>
            <td><%= current_user.email %></td>
          </tr>
        </table>
        </div>
      </div>
      <div class="col-md-6">
        <h3>Surveys taken</h3>
        <table>
          <% if @user.survey_completions.length == 0 %>
            <tr>
              <td>None! Get started below.</td>
            </tr>
          <% else %>
            <% @user.survey_completions.each do |s| %>
              <tr>
                <td><%= s.survey.name %></td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>
    </div>

    <hr />
    <h3>Surveys</h3>

  </div>
</div>
