<%= form_for(national_survey) do |f| %>

  <div class="field">
    <%= f.label :jb_region %>
    <%= f.text_field :jb_region %>
  </div>

  <div class="field">
    <%= f.label :jb_neighborhood %>
    <%= f.text_field :jb_neighborhood %>
  </div>

  <div class="field">
    <%= f.label :num_chapters %>
    <%= f.number_field :num_chapters %>
  </div>

  <div class="field">
    <%= f.label :national_jb %>
    <%= f.text_field :national_jb %>
  </div>

  <div class="field">
    <%= f.label :leadership_composition %>
    <%= f.text_field :leadership_composition %>
  </div>

  <div class="field">
    <%= f.label :national_events %>
    <%= f.number_field :national_events %>
  </div>

  <div class="field">
    <%= f.label :num_active %>
    <%= f.number_field :num_active %>
  </div>

  <div class="field">
    <%= f.label :num_active_national %>
    <%= f.number_field :num_active_national %>
  </div>

  <div class="field">
    <%= f.label :gender_ratio %>
    <%= f.text_field :gender_ratio %>
  </div>

  <div class="field">
    <%= f.label :S3Q1 %>
    <%= f.check_box :S3Q1 %>
  </div>

  <div class="field">
    <%= f.label :S3Q2 %>
    <%= f.check_box :S3Q2 %>
  </div>

  <div class="field">
    <%= f.label :S3Q3 %>
    <%= f.number_field :S3Q3 %>
  </div>

  <div class="field">
    <%= f.label :S3Q4 %>
    <%= f.check_box :S3Q4 %>
  </div>

  <div class="field">
    <%= f.label :S3Q5 %>
    <%= f.number_field :S3Q5 %>
  </div>

  <div class="field">
    <%= f.label :S3P1Q1 %>
    <%= f.check_box :S3P1Q1 %>
  </div>

  <div class="field">
    <%= f.label :S3P1Q2 %>
    <%= f.check_box :S3P1Q2 %>
  </div>

  <div class="field">
    <%= f.label :S3P1Q3 %>
    <%= f.check_box :S3P1Q3 %>
  </div>

  <div class="field">
    <%= f.label :S3P1Q4 %>
    <%= f.check_box :S3P1Q4 %>
  </div>

  <div class="field">
    <%= f.label :S3P1Q4 %>
    <%= f.check_box :S3P1Q4 %>
  </div>

  <div class="field">
    <%= f.label :S3P1Q5 %>
    <%= f.check_box :S3P1Q5 %>
  </div>

  <div class="field">
    <%= f.label :S3P1Q6 %>
    <%= f.check_box :S3P1Q6 %>
  </div>

  <div class="field">
    <%= f.label :S3P2Q1 %>
    <%= f.check_box :S3P2Q1 %>
  </div>

  <div class="field">
    <%= f.label :S3P2Q2 %>
    <%= f.check_box :S3P2Q2 %>
  </div>

  <div class="field">
    <%= f.label :S3P2Q3 %>
    <%= f.number_field :S3P2Q3 %>
  </div>

  <div class="field">
    <%= f.label :S3P2Q4 %>
    <%= f.text_field :S3P2Q4 %>
  </div>

  <div class="field">
    <%= f.label :S3P2Q5 %>
    <%= f.text_field :S3P2Q5 %>
  </div>

  <div class="field">
    <%= f.label :S4P1Q1 %>
    <%= f.check_box :S4P1Q1 %>
  </div>

  <div class="field">
    <%= f.label :S4P1Q2 %>
    <%= f.text_field :S4P1Q2 %>
  </div>

  <div class="field">
    <%= f.label :S4P2Q1 %>
    <%= f.check_box :S4P2Q1 %>
  </div>

  <div class="field">
    <%= f.label :S4P2Q2 %>
    <%= f.check_box :S4P2Q2 %>
  </div>

  <div class="field">
    <%= f.label :S4P3Q1 %>
    <%= f.check_box :S4P3Q1 %>
  </div>

  <div class="field">
    <%= f.label :S4P3Q2 %>
    <%= f.check_box :S4P3Q2 %>
  </div>

  <div class="field">
    <%= f.label :S4P3Q3 %>
    <%= f.check_box :S4P3Q3 %>
  </div>

  <div class="field">
    <%= f.label :S4P3Q4 %>
    <%= f.check_box :S4P3Q4 %>
  </div>

  <div class="field">
    <%= f.label :S4P4Q1 %>
    <%= f.check_box :S4P4Q1 %>
  </div>

  <div class="field">
    <%= f.label :S4P4Q2 %>
    <%= f.check_box :S4P4Q2 %>
  </div>

  <div class="field">
    <%= f.label :S4P4Q3 %>
    <%= f.check_box :S4P4Q3 %>
  </div>

  <div class="field">
    <%= f.label :S4P4Q4 %>
    <%= f.text_field :S4P4Q4 %>
  </div>

  <div class="field">
    <%= f.label :S5Q1 %>
    <%= f.check_box :S5Q1 %>
  </div>

  <div class="field">
    <%= f.label :S5Q2 %>
    <%= f.check_box :S5Q2 %>
  </div>

  <div class="field">
    <%= f.label :S6Q1 %>
    <%= f.text_field :S6Q1 %>
  </div>

  <div class="field">
    <%= f.label :S6Q2 %>
    <%= f.text_field :S6Q2 %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
