<%= form_for(local_survey) do |f| %>

  <div class="field">
    <%= f.label :jb_region %>
    <%= f.text_field :jb_region, class: "form-control form-margin-bottom" %>
  </div>

  <div class="field">
    <%= f.label :national_jb %>
    <%= f.text_field :national_jb, class: "form-control form-margin-bottom" %>
  </div>

  <div class="field">
    <%= f.label :local_jb %>
    <%= f.text_field :local_jb, class: "form-control form-margin-bottom" %>
  </div>

  <div class="field">
    <%= f.label :nun_local_events %>
    <%= f.number_field :nun_local_events, class: "form-control form-margin-bottom" %>
  </div>

  <div class="field">
    <%= f.label :num_related %>
    <%= f.number_field :num_related, class: "form-control form-margin-bottom" %>
  </div>

  <div class="field">
    <%= f.label :age_group %>
    <%= f.number_field :age_group, class: "form-control form-margin-bottom"  %>
  </div>

  <div class="field">
    <%= f.label :num_jbers %>
    <%= f.number_field :num_jbers, class: "form-control form-margin-bottom"  %>
  </div>

  <div class="field">
    <%= f.label :gender_ratio %>
    <%= f.text_field :gender_ratio, class: "form-control form-margin-bottom"  %>
  </div>

  <div class="field">
    <%= f.label :represented %>
    <%= f.check_box :represented, class: "form-control form-margin-bottom"  %>
  </div>

  <div class="field">
    <%= f.label :good_relationship %>
    <%= f.check_box :good_relationship, class: "form-control form-margin-bottom" %>
  </div>

  <div class="field">
    <%= f.label :awareness_of_meetings %>
    <%= f.check_box :awareness_of_meetings, class: "form-control form-margin-bottom"  %>
  </div>

  <div class="field">
    <%= f.label :num_local_attenders %>
    <%= f.number_field :num_local_attenders, class: "form-control form-margin-bottom"  %>
  </div>

  <div class="field">
    <%= f.label :num_regional_attenders %>
    <%= f.number_field :num_regional_attenders, class: "form-control form-margin-bottom"  %>
  </div>

  <div class="field">
    <%= f.label :num_international_attenders %>
    <%= f.number_field :num_international_attenders, class: "form-control form-margin-bottom"  %>
  </div>

  <div class="field">
    <%= f.label :participates %>
    <%= f.check_box :participates, class: "form-control form-margin-bottom"  %>
  </div>

  <div class="field">
    <%= f.label :knowGoals %>
    <%= f.check_box :knowGoals, class: "form-control form-margin-bottom"  %>
  </div>

  <div class="field">
    <%= f.label :GQ1 %>
    <%= f.check_box :GQ1, class: "form-control form-margin-bottom"  %>
  </div>

  <div class="field">
    <%= f.label :GQ2 %>
    <%= f.check_box :GQ2, class: "form-control form-margin-bottom"  %>
  </div>

  <div class="field">
    <%= f.label :GQ3 %>
    <%= f.check_box :GQ3, class: "form-control form-margin-bottom" %>
  </div>

  <div class="field">
    <%= f.label :GQ4 %>
    <%= f.check_box :GQ4, class: "form-control form-margin-bottom"  %>
  </div>

  <div class="field">
    <%= f.label :GQ5 %>
    <%= f.check_box :GQ5, class: "form-control form-margin-bottom"  %>
  </div>

  <div class="field">
    <%= f.label :GQ6 %>
    <%= f.check_box :GQ6, class: "form-control form-margin-bottom"  %>
  </div>

  <div class="field">
    <%= f.label :GQ7 %>
    <%= f.check_box :GQ7, class: "form-control form-margin-bottom"  %>
  </div>

  <div class="field">
    <%= f.label :GQ8 %>
    <%= f.check_box :GQ8, class: "form-control form-margin-bottom"  %>
  </div>

  <div class="field">
    <%= f.label :GQ9 %>
    <%= f.check_box :GQ9, class: "form-control form-margin-bottom"  %>
  </div>

  <div class="field">
    <%= f.label :G2Q1 %>
    <%= f.check_box :G2Q1, class: "form-control form-margin-bottom"  %>
  </div>

  <div class="field">
    <%= f.label :G2Q2 %>
    <%= f.check_box :G2Q2, class: "form-control form-margin-bottom"  %>
  </div>

  <div class="field">
    <%= f.label :G2Q3 %>
    <%= f.check_box :G2Q3, class: "form-control form-margin-bottom"  %>
  </div>

  <div class="field">
    <%= f.label :G2Q4 %>
    <%= f.check_box :G2Q4, class: "form-control form-margin-bottom"  %>
  </div>

  <div class="field">
    <%= f.label :G2Q5 %>
    <%= f.check_box :G2Q5, class: "form-control form-margin-bottom"  %>
  </div>

  <div class="field">
    <%= f.label :G2Q6 %>
    <%= f.check_box :G2Q6, class: "form-control form-margin-bottom"  %>
  </div>

  <div class="field">
    <%= f.label :G3Q1 %>
    <%= f.check_box :G3Q1, class: "form-control form-margin-bottom"  %>
  </div>

  <div class="field">
    <%= f.label :G3Q2 %>
    <%= f.check_box :G3Q2, class: "form-control form-margin-bottom"  %>
  </div>

  <div class="field">
    <%= f.label :G3Q3 %>
    <%= f.check_box :G3Q3, class: "form-control form-margin-bottom"  %>
  </div>

  <div class="field">
    <%= f.label :G3Q4 %>
    <%= f.check_box :G3Q4, class: "form-control form-margin-bottom"  %>
  </div>

  <div class="field">
    <%= f.label :G3Q5 %>
    <%= f.check_box :G3Q5, class: "form-control form-margin-bottom"  %>
  </div>

  <div class="field">
    <%= f.label :G4Q1 %>
    <%= f.check_box :G4Q1, class: "form-control form-margin-bottom"  %>
  </div>

  <div class="field">
    <%= f.label :G4Q2 %>
    <%= f.check_box :G4Q2, class: "form-control form-margin-bottom"  %>
  </div>

  <div class="field">
    <%= f.label :G4Q3 %>
    <%= f.check_box :G4Q3, class: "form-control form-margin-bottom"  %>
  </div>

  <div class="field">
    <%= f.label :G4Q4 %>
    <%= f.check_box :G4Q4, class: "form-control form-margin-bottom"  %>
  </div>

  <div class="field">
    <%= f.label :G4Q5 %>
    <%= f.text_field :G4Q5, class: "form-control form-margin-bottom"  %>
  </div>

  <div class="field">
    <%= f.label :G4Q6 %>
    <%= f.text_field :G4Q6, class: "form-control form-margin-bottom"  %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
