<p id="notice"><%= notice %></p>

<p>
  <strong>Jb region:</strong>
  <%= @local_survey.jb_region %>
</p>

<p>
  <strong>National jb:</strong>
  <%= @local_survey.national_jb %>
</p>

<p>
  <strong>Local jb:</strong>
  <%= @local_survey.local_jb %>
</p>

<p>
  <strong>Nun local events:</strong>
  <%= @local_survey.nun_local_events %>
</p>

<p>
  <strong>Num related:</strong>
  <%= @local_survey.num_related %>
</p>

<p>
  <strong>Age group:</strong>
  <%= @local_survey.age_group %>
</p>

<p>
  <strong>Num jbers:</strong>
  <%= @local_survey.num_jbers %>
</p>

<p>
  <strong>Gender ratio:</strong>
  <%= @local_survey.gender_ratio %>
</p>

<p>
  <strong>Represented:</strong>
  <%= @local_survey.represented %>
</p>

<p>
  <strong>Good relationship:</strong>
  <%= @local_survey.good_relationship %>
</p>

<p>
  <strong>Awareness of meetings:</strong>
  <%= @local_survey.awareness_of_meetings %>
</p>

<p>
  <strong>Num local attenders:</strong>
  <%= @local_survey.num_local_attenders %>
</p>

<p>
  <strong>Num regional attenders:</strong>
  <%= @local_survey.num_regional_attenders %>
</p>

<p>
  <strong>Num international attenders:</strong>
  <%= @local_survey.num_international_attenders %>
</p>

<p>
  <strong>Participates:</strong>
  <%= @local_survey.participates %>
</p>

<p>
  <strong>Knowgoals:</strong>
  <%= @local_survey.knowGoals %>
</p>

<p>
  <strong>Gq1:</strong>
  <%= @local_survey.GQ1 %>
</p>

<p>
  <strong>Gq2:</strong>
  <%= @local_survey.GQ2 %>
</p>

<p>
  <strong>Gq3:</strong>
  <%= @local_survey.GQ3 %>
</p>

<p>
  <strong>Gq4:</strong>
  <%= @local_survey.GQ4 %>
</p>

<p>
  <strong>Gq5:</strong>
  <%= @local_survey.GQ5 %>
</p>

<p>
  <strong>Gq6:</strong>
  <%= @local_survey.GQ6 %>
</p>

<p>
  <strong>Gq7:</strong>
  <%= @local_survey.GQ7 %>
</p>

<p>
  <strong>Gq8:</strong>
  <%= @local_survey.GQ8 %>
</p>

<p>
  <strong>Gq9:</strong>
  <%= @local_survey.GQ9 %>
</p>

<p>
  <strong>G2q1:</strong>
  <%= @local_survey.G2Q1 %>
</p>

<p>
  <strong>G2q2:</strong>
  <%= @local_survey.G2Q2 %>
</p>

<p>
  <strong>G2q3:</strong>
  <%= @local_survey.G2Q3 %>
</p>

<p>
  <strong>G2q4:</strong>
  <%= @local_survey.G2Q4 %>
</p>

<p>
  <strong>G2q5:</strong>
  <%= @local_survey.G2Q5 %>
</p>

<p>
  <strong>G2q6:</strong>
  <%= @local_survey.G2Q6 %>
</p>

<p>
  <strong>G3q1:</strong>
  <%= @local_survey.G3Q1 %>
</p>

<p>
  <strong>G3q2:</strong>
  <%= @local_survey.G3Q2 %>
</p>

<p>
  <strong>G3q3:</strong>
  <%= @local_survey.G3Q3 %>
</p>

<p>
  <strong>G3q4:</strong>
  <%= @local_survey.G3Q4 %>
</p>

<p>
  <strong>G3q5:</strong>
  <%= @local_survey.G3Q5 %>
</p>

<p>
  <strong>G4q1:</strong>
  <%= @local_survey.G4Q1 %>
</p>

<p>
  <strong>G4q2:</strong>
  <%= @local_survey.G4Q2 %>
</p>

<p>
  <strong>G4q3:</strong>
  <%= @local_survey.G4Q3 %>
</p>

<p>
  <strong>G4q4:</strong>
  <%= @local_survey.G4Q4 %>
</p>

<p>
  <strong>G4q5:</strong>
  <%= @local_survey.G4Q5 %>
</p>

<p>
  <strong>G4q6:</strong>
  <%= @local_survey.G4Q6 %>
</p>

<%= link_to 'Edit', edit_local_survey_path(@local_survey) %> |
<%= link_to 'Back', local_surveys_path %>
