<%provide :title, "Edit"<<@survey_completion.survey.name %>
<div class ="row">
  <div class = "col-md-8 col-md-offset-2">
    <h1>Edit <%= @survey_completion.survey.name%></h1>
		<p class = "about"> <%=@survey_completion.survey.about%></p>
    <hr style = "margin-left: 30px"/>

    <%= form_for @survey_completion, :html => {class: "form-group"} do |f| %>
        <input type = "hidden" name = "survey_id" value = "<%= @survey_completion.survey.id%>">
        <% if @survey_completion.survey.national %>
            <%= label_tag :country, "About which country are you filling out this survey?" %>
        <% else %>
            <%= label_tag :country, "Which country is this chapter in?" %>
        <% end %>
        <select id="survey_completion_country" name= "survey_completion[country]"  class="form-control form-margin-bottom" >
          <%= options_for_select(@countryNames, @survey_completion.country)%>
        </select>
        <hr style = "margin-bottom: 10px">

        <% @questionsAnswers.each do |a| %>
            <div class = "question">
            <%q = a.question%>
		    <%if q.qtype != 'mc' && q.qtype != 'h'%>
				<label for="<%=q.id%>">
					<%= q.name%>
					<%if q.required %>
					<span class = "required-text">*Required</span>
					<%end%>
				</label>
			<%end%>
            <% case q.qtype %>
            <% when 'lr' #longresponse %>
                <textarea id="<%=q.id%>" name = "questionAnswer[<%=q.id%>]" rows ="5" class = "form-control form-margin-bottom" ><%=a.answer%></textarea>

            <% when 'sr' #shortresponse %>
                <input id="<%=q.id%>" value = "<%=a.answer%>" type="text" name = "questionAnswer[<%=q.id%>]" class = "form-control form-margin-bottom">

            <% when 'mc' #multiple-choice %>
                <%questionInfo = q.name.partition("[CHOICES]") %>
                   <label for="<%=q.id%>"><%= questionInfo.first%>
					<%if q.required %>
						<span class = "required-text">*Required</span>
					<%end%>
					</label>
                <%questionInfo.last.split("|").each do |choice| %>
                    <div class = "form-check">
                      <label class="form-check-label thin">
                        <input class = "form-check-input" <%= "checked = 'checked'" if choice==a.answer%> type = "radio" name = "questionAnswer[<%=q.id%>]" value="<%=choice%>">
                        <%=choice%>
                      </label>
                    </div>
                <%end%>
                <div class = "form-check form-margin-bottom">
                  <label class="form-check-label ">
                    <input class = "form-check-input" <%= "checked = 'checked'" if '/No Answer/' == a.answer%> type = "radio" name = "questionAnswer[<%=q.id%>]" value="/No Answer/">
                   (Leave Blank)
                  </label>
                </div>

            <% when 'yn' #yes-no %>
                <div class = "form-check">
                  <label class ="form-check-label thin">
                    <input class = "form-check-input" <%= "checked = 'checked'" if 'Yes' == a.answer%> type = "radio" name = "questionAnswer[<%=q.id%>]" value = "Yes">
                    Yes
                  </label>
                </div>
                <div class = "form-check">
                  <label class ="form-check-label thin">
                    <input class = "form-check-input" <%= "checked = 'checked'" if 'No' == a.answer%> type = "radio" name = "questionAnswer[<%=q.id%>]" value = "No">
                    No
                  </label>
                </div>
                <div class = "form-check form-margin-bottom">
                  <label class ="form-check-label">
                    <input class = "form-check-input" <%= "checked = 'checked'" if '/No Answer/' == a.answer%> type = "radio" name = "questionAnswer[<%=q.id%>]" value = "/No Answer/">
                   (Leave Blank)
                  </label>
                </div>

            <% when 'tf' #true-false %>
                <div class = "form-check">
                  <label class ="form-check-label thin">
                    <input class = "form-check-input" <%= "checked = 'checked'" if 'True' == a.answer%> type = "radio" name = "questionAnswer[<%=q.id%>]" value = "True">
                    True
                  </label>
                </div>
                <div class = "form-check">
                  <label class ="form-check-label thin">
                    <input class = "form-check-input" <%= "checked = 'checked'" if 'False' == a.answer%> type = "radio" name = "questionAnswer[<%=q.id%>]" value = "False">
                    False
                  </label>
                  <div class = "form-check form-margin-bottom">
                    <label class ="form-check-label">
                      <input class = "form-check-input" <%= "checked = 'checked'" if '/No Answer/' == a.answer%> type = "radio" name = "questionAnswer[<%=q.id%>]" value = "/No Answer/">
                     (Leave Blank)
                    </label>
                  </div>
                </div>

            <% when 'n' #number %>
                <input id="<%=q.id%>" type="number" value = "<%= a.answer%>" name = "questionAnswer[<%=q.id%>]" class = "form-control form-margin-bottom" placeholder="Please enter a number">
            <% when 'h' #header %>
                <h3 class = "text-center"><%=q.name%></h3>
                <hr />
            <%end%>
            </div>
        <% end %>
        <div style = "margin: 30px auto; display: block; text-align: center">
          <%= f.submit "Save Edits", class: "btn btn-primary" %>
          <%= link_to "Cancel", user_path(current_user.username), class: "btn btn-cancel" %>
        </div>
    <% end %>

  </div>
</div>

<script>
    boldChoice();
    window.addEventListener('click', boldChoice);
    function boldChoice(){
        var inputs = document.getElementsByClassName('form-check-input');
        for(var i = 0; i<inputs.length; i++){
            e = inputs.item(i);
            if(e.checked){
                e.parentNode.classList.remove('thin');
            }
            else{
                e.parentNode.classList.add('thin')
            }
        }
    }
</script>